@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
/* dark-02 */
.text-gray{ color:#424242;

}
/* dark-03 */
.text-light-gray{
    color:#727272
}
/* shared styles
 */
 .display-flex{
    display:flex;
 }
 .btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    margin-top: 32px;
    

 }
 main{
    max-width: 1440px;
    margin: 0 auto;
    
 }
 .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
 }

/* navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.nav-link{
    text-decoration: none;
    
}
.nav-item{list-style: none;
    margin-right: 30px;

}

.navbar, .banner{
    max-width: 1444px;
    margin: 0 auto;
}
.section-tittle{
    font-size: 3rem;
    font-weight: bold;
    color: #131313;
}
/* banner-related-content */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width:100%;
}

/* team and feautures related style */
.teams{
    align-items: center;
    margin-top: 130px;

}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
    
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.features-tittle{
    font-size: 2.8rem;
    
}
.part1{
    color: #727272;
    font-weight: 700;
}
.part2{
    color:rgba(255, 144, 14, 1)
}
.features-description{
    color: #727272;
    line-height: 26px;
    font-size: 1rem;
    font-weight: 700;

}
.section-description{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-top: 24px;
    /* border: 2px solid red; */
    width: 542px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    
    


}
.fact{
    border:2px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
  
}
.fact-number{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
  .fact-name{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    
  }
  .fact-icon{
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
  .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsor-item{
    display: flex;
    justify-content: space-around;
  }
   .sponsor-item img{
    filter:grayscale(100%)
   }
#feature-section-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.section-tittle{
    width: 448px;
    
}
.sec-des{
    width: 586px;
    color: #727272;
    line-height: 26px;
}
.feature-card{
    
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 586px;
    height: 171px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    
    
    
}
.feature-card-tittle{
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 0px;
     
    
}
.feature-card-des{
    color: #727272;
    line-height: 26px;
}
.features{
    gap: 140px;
}
#experience-badge{
    padding: 45px 42px;
    font-weight: 500;
    font-size: 1.25rem;
    width: 342px;
    height: 200px;
    margin-left: -100px;
    margin-top: -120px;
    
}
.experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.footer{
    background-color: #FFF4E7;
    color: #424242;
    max-width: 1440px;
    height: 100px;
    justify-content: center;
    align-content: center;
    
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 216px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 130px;
}
.footer p{
    
}


  
    
    

/* responsive media query */
/* Small Size Device */
@media screen and (max-width:576px){
    .navbar, .nav-link, .teams{
        flex-direction: column;
    }


.team-image-container,.facts-container{
    grid-template-columns: 1fr;
margin-right: 0;}

    .facts-container{ justify-items: center;
        gap: 24px;
    }
    .sponsor-item{
        justify-items: center;
        gap: 50px;
    }

    
    

.fact{
    max-width: 240px;
}
.our-features{
    margin-left: 20px;} 
.section-description{
    line-height: 10px;
}
 .sponsor-item{ flex-direction: column;

}
}

/* Medium Size Device */
@media screen and (min-width:577px) and (max-width:992px){
    .navbar, .nav-link, .teams{
        flex-direction: column;}
        .team-image-container{
    grid-template-columns: repeat(2,1fr);
    }
    
}